:root {
    /* Definindo cores primárias e secundárias, cor dos botões e cores de fundo */
    --cor-primaria: #284854;
    --cor-secundaria: #8BC441;
    --cor-btn: #4FEB4F;
    --cor-branco: white;
    --cor-preto: #000000;
}

html,
body {
    /* Definindo altura total e eliminando margem padrão */
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    /* Centralizando o conteúdo vertical e horizontalmente */
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden; /* Removendo scroll horizontal */
}

.background1{
    height: 90vh;
    width: 100vw;
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
}

.background1 .titulo{
    font-size: 5vw;
    display: flex;
    flex-direction: column;
}
.pt1{
    color: var(--cor-branco);
}

.pt2{
    color: var(--cor-btn);
}

.imgIlustrativa{
    width: 20vw;
}

.partePrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
}

.partePesquisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partePesquisa h3{
    color: var(--cor-branco);
}

.partePesquisa .searchBar .form-control{
    min-width: 13vw;
    margin-inline-start: -3vw;
}
.progress-bar{
    background-color: var(--cor-btn);
}

.titulo{
    font-size: 3vw;
    margin-inline-start: 2vw;
}

.textoCentralTela2 .titulo .pt1{
    color: var(--cor-primaria);
}

.textoCentralTela2 .titulo .pt2{
    color: var(--cor-branco);
}

.imgsTela2 {
    padding-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background3{
    height: 150vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.background3 .pt1{
    color: var(--cor-primaria);
}

.background3 .titulo{
    flex-direction: row;
    gap: 1vw;
    margin-top: 5vh;
}

.containerMetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.form-select{
    height: 5vh;
    width: 40vw;
}
.containerCards {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens "quebrem" para a linha de baixo */
    gap: 30px;
    justify-content: center; /* Centraliza os cards */
}

.cardMetas {
    flex: 1 1 calc(30% - 20px); /* Cada card ocupa 30% do espaço menos o gap */
    max-width: calc(25% - 20px); /* Define um limite para garantir a consistência */
    min-width: 25%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.6s;
}
.cardMetas:only-child {
    min-width: 150%;
}

.cardMetas:hover{
    transform: scale(1.05);
    z-index: 2;
}

.card-img-top{
   width: 80%;
   height: 60%;
}

.card-text{
    padding-inline: 5%;
}

.barraCard{
    width: 80%;
    justify-self: center;
}
.geoLoc{
    background-color: gray;
    width: 60vw;
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 10vh;
}

.cardCentros{
    flex: 1 1 calc(50% - 20px);   /* Cada card ocupa 50% do espaço menos o gap */
    max-width: calc(40% - 20px);  /* Garante que o tamanho máximo seja 50% */
    height: 40vh;
    width: 50vw;
    display: flex;
    transition: transform 0.6s;
}

#centroContainer {
    display: flex;                /* Usa flexbox para organizar os cards */
    flex-wrap: wrap;              /* Permite que os cards quebrem para a próxima linha */
    gap: 20px;                    /* Adiciona espaço entre os cards */
    justify-content: center;      /* Centraliza os cards no container */
}

.imgCardCentroContainer{
    width: 20vw;
}
.cardCentroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardCentros:hover{
    transform: scale(1.05);
    z-index: 2;
}


.MapBoxContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
@media (max-width: 1024px) {

    .background1{
        height: 115vh;
    }
    
    .background1 .titulo{
        font-size: 7vw;
        display: flex;
        flex-direction: row;
    }
    
    .imgIlustrativa{
        width: 50vw;
        margin-top: -15vh;
    }
    
    .partePrincipal{
        flex-direction: column;
    }

    .partePesquisa{
        margin-top: 7vh;
    }
    
    .background1 .titulo{
        margin-top: 10vh;
        flex-direction: column;
    }

    .titulo{
        font-size: 8vw;
        text-align: center;
    }

    .background3{
        height: 350vh;
    }

    .containerCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .cardMetas {
        flex: 1 1 calc(70%); /* Cada card ocupa 30% do espaço menos o gap */
        flex: auto;
        width: 70%;
        max-width: 70%;
        height: 70vh;
    }    
    
    .barraCard{
        width: 80%;
        margin-inline-start: 10%;
    }

    .containerMetas{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .cardMetas{
        width: 80vw;
        text-align: center;
    }
    
    .card-body{
        display: flex;
        flex-direction: column;
        padding-top: 3%;
    }

    
    #map {
        width: 100%;
        height: 400px; 
        border-radius: 10px;
    }
}

@media (max-width: 768px){

    .background1{
        height: 100vh;
    }

    .cardMetas {
        flex: 0;
        max-width: calc(100%);
    }    

    .barraCard{
        margin-bottom: 10%;
    }

    .card-img-top{
        width: 60%;
        height: 40%;
    }
    .background1 .titulo{
        font-size: 10vw;
        display: flex;
        flex-direction: row;
        gap: 2vw;
    }

    .imgIlustrativa{
        width: 50vw;
        margin-top: 0vh;
    }
    
    .partePrincipal{
        flex-direction: column;
    }
    .partePesquisa{
        margin-top: 7vh;
    }
    
    .background1 .titulo{
        margin-top: 10vh;
        flex-direction: column;
    }


}