:root {
    --cor-primaria: #284854;
    --cor-secundaria: #8BC441;
    --cor-btn: #4FEB4F;
    --cor-branco: white;
    --cor-preto: #000000;
}

html, body {
    height: 100%; 
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.containerFormas {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.formaBeneficiario, .formaCentro {
    height: 100vh;
    width: 50vw;
    transition: transform 0.6s;
    position: relative;
}

.formaBeneficiario {
    background-color: var(--cor-branco);
}

.formaCentro {
    background-color: var(--cor-primaria);
}

.formaBeneficiario:hover {
    transform: scale(1.05);
    z-index: 2;
}

.formaCentro:hover {
    transform: scale(1.05);
    z-index: 2;
    filter: none;
}

.Benefi1 {
    color: var(--cor-primaria);
    padding-right: 5px;
}

.Benefi2 {
    color: var(--cor-secundaria);
}

.formaBeneficiario h3 {
    color: var(--cor-primaria);
}

.beneficiario {
    align-self: center;
    margin-top: 40vh;
    margin-inline: 10vw;
}

.titulo {
    display: flex;
    flex-direction: column;
}

.Centro {
    align-self: center;
    margin-top: 40vh;
    margin-inline: 7vw;
}

.centro1 {
    color: var(--cor-branco);
    padding-right: 5px;
}

.centro2 {
    color: var(--cor-secundaria);
}

.Centro h3 {
    color: var(--cor-branco);
}

@media (max-width: 1024px){
    .containerFormas {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 200vh;
    }

    .formaBeneficiario, .formaCentro {
        height: 50vh;
        width: 100vw;
        transition: transform 0.6s;
        position: relative;
    }
    .formaBeneficiario{
        height: 100vh;
    }
    .beneficiario {
        align-self: center;
        margin-top: 70vh;
        margin-inline: 10vw;
    }
    .Centro {
        align-self: center;
        margin-top: 15vh;
        margin-inline: 7vw;
    }

    .titulo {
        flex-direction: column;
    }
}